<body>
    <div class="character-sheet">
        <div id="primary-character-info" class="row">
            <div id="character-info" class="character-section">
                <div class="row">
                    <div id="name" class="section-item">
                        <h2 id="character-name">Character Name:</h2>
                        <p>{{character.name}}</p>
                    </div>
                    <div id="player" class="section-item">
                        <h3 id="character-player">Player:</h3>
                        <p>{{character.playerName}}</p>
                    </div>
                    <div id="species" class="section-item">
                        <h3 id="character-species">Species:</h3>
                        <p>{{character.species}}</p>
                    </div>
                </div>
                <div class="row">
                    <div id="age" class="section-item">
                        <h3 id="character-age">Age:</h3>
                        <p>{{character.age}}</p>
                    </div>
                    <div id="character-pronouns" class="section-item">
                        <h3 id="pronounse">Pronouns: </h3>
                        <p>{{character.pronouns}}</p>
                    </div>
                    <div id="height" class="section-item">
                        <h3 id="character-height">Height:</h3>
                        <p>{{character.height}}</p>
                    </div>
                    <div id="weight" class="section-item">
                        <h3 id="character-weight">Weight:</h3>
                        <p>{{character.weight}}</p>
                    </div>
                </div>
            </div>
            {{#each character.class}}
            <div class="character-section" id="classLevel">
                        <div class="classLevel-subsect">
                            <h3 id="character-class">Class:</h3>
                            <p>{{this.class}}</p>
                        </div>
                        <div class="classLevel-subsect">
                            <h3 id="character-class-level">Level:</h3>
                            <p>{{this.level}}</p>
                        </div>
            </div>
            {{/each}}
        </div>

        <div id="darkside-condition-row" class="row">
            <div id="dark-side-score" class ="character-section">
                <div id="dark-side-score-tracker" class="section-item">
                    <h3 id="character-dark-side-score">Dark Side Score: {{character.darksidePoints}}</h3>
                </div>
            </div>

            <div id="condition-tracker" class="condition-tracker character-section row">
                <h2 id="condition-tracker-title">Condition Tracker</h2>
                <div class="condition-tracker-step-0">
                    <div id="condition-tracker-step-primary-info" class="row">
                        <h3>0</h3>
                    </div>
                </div>
                <div class="condition-tracker-step" id="condition-step-1">
                    <div id="condition-tracker-step-primary-info" class="row">
                        <h3>-1</h3>
                    </div>
                    <p>-1 to ability checks, attacks, and defenses</p>
                </div>
                <div class="condition-tracker-step"id="condition-step-2">
                    <div id="condition-tracker-step-primary-info" class="row">
                        <h3>-2</h3>
                    </div>
                    <p>-2 to ability checks, attacks, and defenses</p>
                </div>
                <div class="condition-tracker-step" id="condition-step-3">
                    <div id="condition-tracker-step-primary-info" class="row">
                        <h3>-5</h3>
                    </div>
                    <p>-5 to ability checks, attacks, and defenses</p>
                </div>
                <div class="condition-tracker-step" id="condition-step-4">
                    <div id="condition-tracker-step-primary-info" class="row">
                        <h3>-10</h3>
                    </div>
                    <p>-10 to ability checks, attacks, and defenses</p>
                </div>
                <div class="hp-tracker">
                    <h4>Current HP/Max HP</h4>
                    <p id="hp-currentMax">{{character.hp.current}}/{{character.hp.max}}</p>
                    <button id="hp-modify-heal" class="hp-modify-type ">Heal</button>
                    <button id="hp-modify-damage" class="hp-modify-type">Damage</button>
                    <input type="number" id="hp-modify" class="character-info-input character-info-input-number"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div id="character-attributes" class="character-section row">
                <div id="strength" class="character-attribute">
                    <h3>Strength</h3>
                    <h4>{{character.abilities.strength.score}}</h4>
                    <h4 class="attribute-modifier">Modifier: {{character.abilities.strength.bonus}}</h4>
                </div>
                <div id="dexterity" class="character-attribute">
                    <h3>Dexterity</h3>
                    <h4>{{character.abilities.dexterity.score}}</h4>
                    <h4 class="attribute-modifier">Modifier: {{character.abilities.dexterity.bonus}}</h4>
                </div>
                <div id="constitution" class="character-attribute">
                    <h3>Constitution</h3>
                    <h4>{{character.abilities.constitution.score}}</h4>
                    <h4 class="attribute-modifier">Modifier: {{character.abilities.constitution.bonus}}</h4>
                </div>
                <div id="intelligence" class="character-attribute">
                    <h3>Intelligence</h3>
                    <h4>{{character.abilities.intelligence.score}}</h4>
                    <h4 class="attribute-modifier">Modifier: {{character.abilities.intelligence.bonus}}</h4>
                </div>
                <div id="wisdom" class="character-attribute">
                    <h3>Wisdom</h3>
                    <h4>{{character.abilities.wisdom.score}}</h4>
                    <h4 class="attribute-modifier">Modifier: {{character.abilities.wisdom.bonus}}</h4>
                </div>
                <div id="charisma" class="character-attribute">
                    <h3>Charisma</h3>
                    <h4>{{character.abilities.charisma.score}}</h4>
                    <h4 class="attribute-modifier">Modifier: {{character.abilities.charisma.bonus}}</h4>
                </div>
            </div>

            <div id="quick-reference" class="character-section">
                <div id="movement" class="quick-ref-item">
                    <h3>Movement: {{character.movement}}</h3>
                </div>
                <div id="initiative-bonus" class="quick-ref-item">
                    <h3>Initiative bonus: {{character.initiativeBonus}}</h3>
                </div>
                <div id="base-attack-bonus" class="quick-ref-item">
                    <h3>Base Attack Bonus: {{character.initiativeBonus}}</h3>
                </div>
                <div id="damage-threshold" class="quick-ref-item">
                    <h3>Damage threshold: {{character.damageThreshold}}</h3>
                </div>
                <div id="force-points" class="quick-ref-item">
                    <h3>Force points: {{character.forcePoints}}</h3>
                </div>
                <div id="destiny-points" class="quick-ref-item">
                    <h3>Destiny points: {{character.destinyPoints}}</h3>
                </div>
            </div>
        </div>

        <div id="defenses" class="section">
            <div id="resistances" class="subsection">
                <div id="dmg-resistance"></div>
                <div id="shield-resistance"></div>
            </div>
        </div>

        <div id="defense-classes" class="subsection">
            <div id="fortitude-defence" class="defense-section"></div>
            <div id="reflex-defence" class="defense-section"></div>
            <div id="will-defence" class="defense-section"></div>
        </div>
        </div>

        <div id="special-combat-actions" class="subsection">

        </div>

        <div id="force-powers" class="section">
            
        </div>

        <div id="skills" class="subsection">
            <div id="acrobatics" class="skill-details">

            </div>
        </div>

        <div id="weapons" class="subsection">
            <div id="weapon-1" class="weapon-details">

            </div>
        </div>

        <div id="inventory" class="section">
            <div id="item" class="item-details">
                
            </div>
            <div id="credits"></div>
        </div>

        <div id="feats" class="section">

        </div>

        <div id="talents" class="section">

        </div>
    </div>
</body>

